.menu-movie-container {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  width: 390px;
  height: 74px;
  background: #6a536a;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px 12px 0 0;
}
